#map {
  display: block;
  height: 100%;
  width: 70vw;
  margin: 0 auto;
  box-shadow: 6px 7px 9px 3px #0000006e;
}

#mapDiv {
  height: 400px;
  position: relative;
  background-color: var(--dark-grey);
  margin: 80px 0;
}

@media only screen and (min-width: 768px) {
  #mapDiv {
    height: 600px;
  }
}