@import "global.css";
@import "project.css";
@import "map.css";

.clearfix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding-bottom: 10px;
}

#workExperience-header>h2 {
  padding-left: 57px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #b9802b;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #b9802b;
  line-height: 16px;
  float: right;
}

.welcome-message {
  font-size: 25px;
  color: #dfe3ee;
  line-height: 28px;
  margin-left: 10px;
  line-height: 30px;
  display: inline-block;
}

#header {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px 0;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px;
}

.logo {
  width: auto;
  height: 30px;
  float: right;
}

.container {
  max-width: 1200px;
  position: center;
}

.school-container {
  display: block;
}

img {
  width: 220px;
  height: 220px;
  margin: 5px;
  border-radius: 8%;
}

.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

.onlineCourse {
  padding-left: 0px;
}

.row {
  max-height: 500px;
}

span {
  color: #eeba30;
  padding: 5px;
}

.main {
  background-size: contain;
  background-image: url(/images/background_lines.png);
  background-repeat: no-repeat;
}

#social {
  text-align: center;
}

#inName {
  font-size: 16px;
  padding: 5px;
  color: #4A95C4;
  font-weight: 800;
  background-color: #FFE040;
  border-radius: 15%;
}

#sort-button {
  width: 100px;
  margin: 20px;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 4px;
  color: #F6E1FF;
}

@media only screen and (min-width: 768px) {
  #skillsH3,
  .biopic {
    display: block;
  }

  #social {
    margin-top: 10%;
  }

  .biopic {
    width: 150px;
  }
}

@media only screen and (min-width: 1024px) {
  #social {
    margin-top: 5%;
  }

  li {
    display: block;
    text-align: left;
  }

  .biopic {
    width: 100px;
    height: 100px;
  }

  #header[data-scroll='true'] .nav-item {
    min-width: 0;
  }

  .nav-item {
    display: block;
    text-align: left;
    min-width: calc(100% / 4);
    transition: min-width 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 1240px) {

}
